<div class="container col" style="padding:0 ;margin:0">
    <div style="padding:0 ;margin:0" class="container1  row col col-sm-12 col-md-12 col-lg-12 col-xl-12 ms-2">
        <div style="margin:0" class=" box box1">{{username}}</div>
        <div  style="margin:0"class=" box box2">{{username}}</div>
       
       </div>
   <div class="inputbox  m-auto" style="width: 200px; ">
    <input [(ngModel)]="username"  id="input" style="border-radius: 2px;height: 20vh;"  type="text">
   </div>
       <div   class= "container2 col col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding:0 ;margin:0"  >
           <div  style="margin:0" class=" box box3">{{username}}</div>
           <div  style="margin:0" class=" box box4">{{username}}</div>   
       </div>
</div>